[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/bigpick/hugo-theme-hello-friend-ng.git
[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
