# Hugo
## Hugo output directory
public/
## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
# OSX
.DS_Store

# legacy -- remove?
node_modules/
dist/
site/data/webpack.json
/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json
