.gradient-text {
    font-weight: 400;
    color: inherit;

    @each $color, $value in $gradients {
        &-#{$color} {
            background-color: red;
            background-image: $value !important;
            background-size: 100% !important;
            -webkit-background-clip: text !important;
            -moz-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
            -moz-text-fill-color: transparent !important;
        }
    }
}
