//
// Gradients
//
$gradients: () !default;
$gradients: map-merge((
    drac-purple-cyan: linear-gradient(135deg, #9580ff 0%,#80ffea 100%),
    drac-yellow-pink: linear-gradient(135deg, #feff80 0%,#fc80bf 100%),
    drac-cyan-green: linear-gradient(135deg, #80ffea 0%,#8aff80 100%),
    drac-pink-purple: linear-gradient(135deg, #fc80bf 0%,#9580ff 100%),
), $gradients);

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
// Border gradient
@mixin border-gradient($parent, $gradient) {
  #{$parent} {
    border: 20px solid transparent;
    border-width: 6px;
    border-style: solid;
    border-image: $gradient;
    border-image-slice: 1;
  }
}
// Gradient Classes
@each $gradient, $value in $gradients {
 @include bg-gradient(".bg-gradient-#{$gradient}", $value);
}

@each $gradient, $value in $gradients {
 @include text-gradient(".text-gradient-#{$gradient}", $value);
}

@each $gradient, $value in $gradients {
  @include border-gradient(".border-gradient-#{$gradient}", $value);
}
