@charset "UTF-8";

@import "./_gradients";
@import "./_gradienttext";

/*
 * ==============================================
 * Fonts
 * ==============================================
 */
@font-face {
  font-family: 'Iosevka';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/iosevka-term-regular.woff2") format("woff2"),
       url("../fonts/iosevka-mayukai-regular.woff") format("woff"),
       url("../fonts/iosevka-term-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Iosevka Slab';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/iosevka-slab-regular.woff2") format("woff2"),
       url("../fonts/iosevka-slab-regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Staatliches';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Staatliches-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Slabo';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Slabo27px-Regular.ttf") format("truetype");
}

/*
 * ==============================================
 * Colors (from Dracula theme, mostly)
 * ==============================================
 */
//$background: #282a36;
$background: #1d1e26;
$code-dark-bg: #252733;
$curr-line: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$drac-black: #15171b;
$drac-quote: #8A8F98;
$white: #f8f8f2;
$black: $drac-black;

$dark-background: $background;
$dark-background-secondary: $drac-black;
$dark-color: #f8f8f2;
$dark-color-secondary: #585B6E;
$dark-border-color: $curr-line;
/* light theme color  -- Dracula hates the light */
$light-background-header: $drac-black;
$light-background: $dark-background;
$light-background-secondary: $dark-background-secondary;
$light-color: #f8f8f2;
$light-color-secondary: $dark-color-secondary;
$light-border-color: $dark-border-color;

body {
  font-family: "Slabo", "Iosevka Slab", 'Inter UI', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",  Helvetica, Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 1.2rem;
}

::selection {
  background: $purple; /* WebKit/Blink Browsers */
  color: $background;
}
::-moz-selection {
  background: $purple; /* Gecko Browsers */
  color: $background;
}

/*
 * ==============================================
 * Tables
 * ==============================================
 */
.post-content {
  p {
    text-align: justify;
  }

  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0;
  }

  table, th, td {
    border: 1px dashed $curr-line;
    padding: 10px;
  }

  th {
    color: $foreground;
  }
}

/*
 * ==============================================
 * Scroll to top Button
 * ==============================================
 */
#scrollTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: $curr-line; /* Set a background color */
  color: $foreground; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 16px; /* Increase font size */
}

#scrollTopButton:hover {
  background-color: $cyan; /* Add a dark-grey background on hover */
  color: $background;
}

/*
 * ==============================================
 * Button coloring
 * ==============================================
 */
button, .button, a.button {
  color: $background !important;
}


/*
 * ==============================================
 * Collapsable code segments
 * ==============================================
 */
.collapsable-code {
  --border-color: color-mod($background blend(#999 90%));

  position: relative;
  width: 100%;
  margin: 40px 0;
  outline-style: solid;
  outline-color: $dark-background-secondary;
  outline-width: .5px;

  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  input[type="checkbox"]:checked {
    ~ pre,
    ~ .code-toolbar pre {
      height: 0;
      padding: 0;
      border-top: none;
    }

    ~ .code-toolbar {
      padding: 0;
      border-top: none;

      .toolbar {
        display: none;
      }
    }

    ~ label .collapsable-code__toggle:after {
      content: attr(data-label-expand);
    }
  }

  label {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-width: 30px;
    min-height: 30px;
    margin: 0;
    //border-bottom: 1px solid $dark-background-secondary;
    cursor: pointer;
  }

  &__title {
    flex: 1;
    padding: 3px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__language {
    color: $foreground;
    background: $curr-line;
    border-bottom: none;
    text-transform: uppercase;
    padding: 3px 10px;
  }

  &__toggle {
    font-size: 16px;
    padding: 3px 10px;

    &:after {
      content: attr(data-label-collapse);
    }
  }

  pre {
    margin-top: 0;

    &::first-line {
      line-height: 0;
    }
  }

  .code-toolbar {
    margin: 0;
  }
}

/*
 * ==============================================
 * Footer
 * ==============================================
 */
.footer {
  color: $drac-quote;

  &__content {
    font-size: .7rem;
    color: $drac-quote;

    &__disclaimer {
      font-size: .6rem;
    }
  }
}

/*
 * ==============================================
 * Header
 * ==============================================
 */
.header {
  background: #15171b;

  .dark-theme & {
    background: #15171b;
  }

  color: #f8f8f2;

  .theme-toggler {
    fill: #f8f8f2;

    .dark-theme & {
      fill: $foreground;
    }
  }
}


/*
 * ==============================================
 * Posts listing
 * ==============================================
 */
.posts {
  .post {
    &-item {
      border-bottom: 1px $curr-line dashed;
    }
  }

  .post-title{
    font-size: 1.3rem;
  }
}


/*
 * ==============================================
 * Command line logo in top left
 * ==============================================
 */
.logo {
  &__mark {
    color: $foreground;
  }

  &__text {
    color: $foreground;
  }

  &__cursor {
    background: $green;

    .dark-theme & {
        background: $foreground;
    }
  }
}

/*
 * ==============================================
 * main / _main contents
 * ==============================================
 */
body {
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-weight: 400;
}
/* Dracula rainbow headers */
h1 {
  color: $yellow;
  font-family: "Staatliches";
}
h2 {
  color: $purple;
  font-family: "Staatliches";
}
h3 {
  color: $pink;
  font-family: "Staatliches";
}
h4 {
  font-family: "Staatliches";
  color: $green;
}
h5 {
  color: #f8f8f2;
  font-family: "Staatliches";
}
/* Underline links with color */
p a {
  text-decoration-color: $cyan;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;

  &:hover {
    color: $cyan;
  }
}

li a {
  text-decoration-color: $cyan;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 3px;

  &:not(nav > ul > li > a):hover {
    color: $cyan;
  }
}


td a {
  text-decoration-color: $cyan;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover {
    color: $cyan;
  }
}

/* Code font */
code {
  font-family: Iosevka,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  background: $code-dark-bg;
  font-size: .90rem;
  color: $foreground;

  .dark-theme & {
    background: $code-dark-bg;
  }
}

pre {
  background: $code-dark-bg;

  code {
    color: $foreground;

    .dark-theme & {
      color: $foreground;
    }
  }
}

blockquote {
  color: $drac-quote;
}

/**
 * Firefox specific rule
 */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}


/*
 * ==============================================
 * Menu
 * ==============================================
 */
.menu {
  background: $dark-background-secondary;

  border-right: none;

  .dark-theme & {
    background: $light-background-secondary;
  }

  &__inner {
    color: #8a8f98;
    font-size: 1.1em;

    li {
      margin: 0 12px;

      &:nth-child(1):hover {
        .dark-theme & {
          :nth-child(1):hover {
           color: $yellow;
          }
        }
        color: $yellow;
      }
      &:nth-child(2):hover {
        .dark-theme & {
          :nth-child(1):hover {
           color: $pink;
          }
        }
        color: $pink;
      }
      &:nth-child(3):hover {
        .dark-theme & {
          :nth-child(1):hover {
           color: $cyan;
          }
        }
        color: $cyan;
      }
      &:nth-child(4):hover {
        .dark-theme & {
          :nth-child(1):hover {
           color: $green;
          }
        }
        color: $green;
      }
    }
  }
}

/*
 * ==============================================
 * Normalize
 * ==============================================
 */
/* Webkit Scrollbar Customize */
::-webkit-scrollbar {
  width: 12px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: $curr-line;
}

::-webkit-scrollbar-thumb {
  &:hover {
    background: $purple;
  }
}
// Firefox
.scroller {
  overflow-y: scroll;
  scrollbar-color: $purple $curr-line;
}


/*
 * ==============================================
 * Single post specifics; back to top button
 * ==============================================
 */
.button {
  &:hover {
    background-color: $comment;
    color: $background;
  }
}



/*
 * ==============================================
 * Front page SVG individual highlighting
 * ==============================================
 */
#index-svg-Github {
  :hover {
    stroke: $orange;
  }
}
#index-svg-Linkedin {
  :hover {
    stroke: $green;
  }
}
#index-svg-Email {
  :hover {
    stroke: $cyan;
  }
}


/*
 * ==============================================
 * Dracula specific Pygments additions
 * ==============================================
 */
:root
{
  --background: #1d1e26;
  --comment:    #6272A4;
  --foreground: #F8F8F2;
  --selection:  #8A8F98;

  --cyan:       #8BE9FD;
  --green:      #50FA7B;
  --orange:     #FFB86C;
  --pink:       #FF79C6;
  --purple:     #BD93F9;
  --red:        #FF5555;
  --yellow:     #F1FA8C;
}

pre::-webkit-scrollbar
{
  width: 14px;
}

pre::-webkit-scrollbar-track
{
  background-color: var(--curr-line);
  border-radius: 0px;
}

pre::-webkit-scrollbar-thumb
{
  background-color: var(--comment);
  border-radius: 0px;
}

code[class*="language-"],
pre[class*="language-"]
{
  text-shadow: none;
  font-family: Iosevka, PT Mono, Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;
  font-size: .95rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

// Make no borders around code blocks
.highlight table, .highlight tr, .highlight td { border-spacing: 0; border-collapse: separate; padding: 0 }
