.post {
  &-info {
    font-size: 1rem;

    @media (prefers-color-scheme: dark) {
      color: #f8f8f2; //$drac-quote;
    }

    @media (prefers-color-scheme: light) {
      color: #000000;
    }

    [data-theme=dark] & {
      color: #f8f8f2; //$drac-quote;
    }

    [data-theme=light] & {
      color: #000000;
    }
  }

  &-excerpt {
    font-size: 1rem;
    color: $drac-quote;
    font-style: italic;
    border-left: 3px solid $drac-quote;
    padding-left: 15px;
  }
}