{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1 style="color: currentColor">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <!-- {{ . }} -->
                 <!-- {{ $title_parts := split . " " }} -->
                 <!-- <p> <font style="color: #ffb86c">{{ index $title_parts 0 }} </font><font style="color: #50fa7b">{{ index $title_parts 1}} </font><font style="color: #8be9fd">{{ index $title_parts 2}}</font><p> -->
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
